{% extends "cms/base.html" %}
{% load customfilter %}
{% block title %}NDL作成中書誌{% endblock title %}

{% block content %}
    <h4 class="mt-4 border-bottom">NDL作成中書誌</h4>
    <a href="{% url 'cms:book_add' %}" class="btn btn-primary btn-sm my-3">追加</a>

    {% include "cms/pagination.html" %}

    <table class="table table-striped table-bordered">
      <thead>
        <tr>
          <th scope="col">ID</th>
          <th scope="col">表紙</th>
          <th scope="col">書誌事項</th>
          <th scope="col">分類件名</th>
          <!-- <th scope="col">操作</th> -->
        </tr>
      </thead>
      <tbody>
        {% for book in books %}
        <tr>
          <th scope="row">{{ book.id }}</th>
          <td><img src="https://iss.ndl.go.jp/thumbnail/{{ book.ISBN|cut:"-" }}" width="112" height="160"
            onerror="this.onerror=null;this.src='http://images-jp.amazon.com/images/P/{{ book.ASIN }}.09.MZZZZZZZ.jpg';"/></td>
          <td><b>{{ book.title }} {{ book.volume }}
            {% if book.seriesTitle %}
              ({{ book.seriesTitle }})
            {% endif %}</b><br>
            {{ book.creator }}. {{ book.publisher }}, {{ book.publicationPlace }}, {{ book.extent}},
            {{ book.date }} {{ book.price}}<br>
            {% if book.description %}
              {{ book.description }}<br>
            {% endif %}
            {{ book.ISBN }}
            {% if book.partTC %}
            <br><b>[内容]</b><br>
              {{ book.partTC|lineRep|linebreaksbr }}
            {% endif %}</td>
          <td><b>{{ book.NDC }}</b><br>
          {{ book.subject|lineRep|linebreaksbr }}</td>
          <!-- <td>
            <a href="{% url 'cms:book_mod' book_id=book.id %}" class="btn btn-outline-primary btn-sm">修正</a>
            <a href="{% url 'cms:book_del' book_id=book.id %}" class="btn btn-outline-danger btn-sm">削除</a>
          </td> -->
        </tr>
        {% endfor %}
      </tbody>
    </table>

    {% include "cms/pagination.html" %}

{% endblock content %}